@font-face {
  font-family: "Syne";
  src: url("../fonts/Syne/Syne-Bold.woff2") format("woff2"),
    url("../fonts/Syne/Syne-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src: url("../fonts/Syne/Syne-SemiBold.woff2") format("woff2"),
    url("../fonts/Syne/Syne-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src: url("../fonts/Syne/Syne-Medium.woff2") format("woff2"),
    url("../fonts/Syne/Syne-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica/GeologicaRoman-Regular.woff2") format("woff2"),
    url("../fonts/Geologica/GeologicaRoman-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica/GeologicaRoman-Medium.woff2") format("woff2"),
    url("../fonts/Geologica/GeologicaRoman-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica/GeologicaRoman-Bold.woff2") format("woff2"),
    url("../fonts/Geologica/GeologicaRoman-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
